{% extends "layout.html" %}


{% block head %}

    <title>Spotify Missed Connections</title>

{% endblock %}


{% block body %}


<section class="database-list">

    <!-- Main Text-->
    <h1 class="main-text">Here are some songs you might've missed:</h1>

    <div class="table-responsive">
        <table class="table table-dark table-striped table-hover">

            <thead>
                <tr class="head-row">
                    <th>Artist</th>
                    <th>Track</th>
                    <th>Album</th>
                    <!-- <th style="width:5%"></th> -->
                </tr>
            </thead>

            
            {% if total_tracks %}
            <tbody>
                {% for track in total_tracks %}

                    <tr class="clickable-row" onclick="openInNewTab('{{ track.URL }}');">
                    <script>
                        function openInNewTab(url) {
                            var win = window.open(url, '_blank');
                            win.focus(); }
                    </script>
                       
                    <tr>
                        <td class="trackcell">
                            <!-- Artist -->
                            {{ track.Artist }}
                        </td>

                        <td class="trackcell">
                            <!-- Title -->
                            {{ track.Track }}
                        </td>

                        <td class="trackcell">
                            <!-- Album -->
                            {{ track.Album }}
                        </td>

                        <!-- <td class="deletecell">
                            <a href="{{ url_for('track_delete', track_id=track.TrackID) }}"
                            onclick="return confirm('Do you want to permanently delete this track ?');" title="Delete Track">
                            <i class="fas fa-times"></i></a>
                        </td> -->

                        


                    </tr>
    
                {% endfor %}
            </tbody>

            {% endif %}
        </table>
    </div>

    <h5 class="count-text">Total Count: {{ number_of_tracks }}</h5>


</section>


{% endblock %}

                        <!-- <form action="{{ url_for('test_drop_metric_by_id') }}" method=post>
                            <input type=hidden value="{{ track.TrackID }}" name=track_to_delete />
                            <input type=submit />
                          </form> -->