{% extends "layout.html" %}


{% block head %}

    <title>Spotify Missed Connections</title>

{% endblock %}


{% block body %}


<div class="db-list">

    <!-- Main Text-->
    <h1 class="maintext">Here are some songs you might've missed:</h1>
    <h5 style="text-align: center;">Total Count: {{ number_of_tracks }}</h5>

    <table>

        <thead>
            <tr class="head-row">
                <th>Artist</th>
                <th>Track</th>
                <th>Album</th>
            </tr>
        </thead>

        
        {% if total_tracks %}
        <tbody>
            {% for track in total_tracks %}

                <tr class="clickable-row" onclick="openInNewTab('{{ track.URL }}');">  <!-- Opens track URL in new tab -->
                    <script>
                        function openInNewTab(url) {
                            var win = window.open(url, '_blank');
                            win.focus(); }
                    </script>

                    <td>
                        <!-- Artist -->
                        {{ track.Artist }}
                    </td>
                    <td>
                        <!-- Title -->
                        {{ track.Track }}
                    </td>
                    <td>
                        <!-- Album -->
                        {{ track.Album }}
                    </td>

                </tr>
   
            {% endfor %}
        </tbody>
    </table>

    {% endif %}

</div>


{% endblock %}

