<!DOCTYPE html>

<html>
    
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script type=text/javascript src="{{ url_for('static', filename='js/main.js')}}"></script>
        <!-- <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script> -->
        {% block head %}
        {% endblock %}
    </head>

    <body>
        <div class="container">
            {% include "includes/nav.html" %}

            {% block body %}
            {% endblock %}
        </div>
    </body>

    <footer>
        {% block footer %}
        {% endblock %}
    </footer>

</html>
