/*
    #FONTS
    font-family: 'IBM Plex Sans', sans-serif;

    font-family: 'Merriweather', serif;

    font-family: 'Poppins', sans-serif;

    font-family: 'Press Start 2P', cursive;

    font-family: 'Roboto Mono', monospace;

    font-family: 'Rubik', sans-serif;
*/


html, body {
    /* font-family: Arial, Helvetica, sans-serif; */
    /* background-color: coral; */
    background-color: #1c1f29;
}

.navbar {
    margin: 0;
    background-color: #353b50;
    opacity: 65%;
}

.navbar .navbar-toggler {
    color: #1DB954;
}


.nav-item {
    /* padding: 0 25px; */
    margin: 0 25px;
}

.nav-link {
    color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
}

.nav-link:hover {
    color: #fcf086;
}




/* --- Main Text --- */
.main-text {
    text-align: center;
    font-size: 50px;
    /* font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-family: 'IBM Plex Sans', sans-serif;
    /* font-weight: bold; */
    color: #c6f83b;
    text-shadow: 1px 1px 3px #ac9828;
    margin: 4% 5% 5% 5%;
}

.count-text {
    margin-top: 2%;
    text-align: center;
    color: #8b8b8b;
    font-size: 25px;
    /* font-family: 'Rubik', sans-serif; */
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;

}

.count-number {
    color: #dd2929;
    /* font-family: 'IBM Plex Sans', sans-serif; */
    font-family: 'Roboto Mono', monospace;
    font-size: 28px;
}


/* --- Track Database Table --- */

td {
    /* border-top: 1px solid black; */
    border-bottom: 1px solid #074ca68f;
}

.table-responsive {
    padding: 0% 10%;
    font-size: 700;
}

.table {
    /* background-color: #737be9; */
    /* background-color: #74bd78f6; */
    /* background-color: #d3d3d3; */
    overflow-y: scroll;
    /* table-layout: fixed; */
    height:300px;
    display:block;
    border-collapse:collapse;
    scrollbar-color: #5f75a3f6 #b9b9b9f6;

  }
  
.head-row th {
    /* background-color: #15631a; */
    background-color: #1DB954;
    text-align: center;
    color: white;
    padding: 3px 0px;
    font-size: 25px;
    width: 500px;
    text-shadow: 3px 3px 3px #0b4d21;
    top: 0;
    position: sticky;
    cursor: default;
    /* border-right: 3px solid #074ca68f; */
}


tr:hover {
    cursor: pointer;
}

td {
    padding: 10px 10px;
    /* height: 100%; */
}

/* .deletecell {
    padding: 0px 0px;

} */
/* 
.deletecell a {
    text-decoration: none;
} */

.fas .fa-times i {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;    
}

/* .deletecell td:hover {
    background-color: #32355f;
}

.deletecell td:hover {
    background-color: #484c88;
} */


/* .track_delete_btn {
    height: 100%;
    box-sizing: content-box;
    padding: 0px;
    border: medium none;
    width: 100%; 
} */


/* Reccomendations section */
.rec-container {
    color: #c6f83b;
    text-align: center;
}

.rec-list {
    list-style: none;
}