/**/


html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: coral;
    position: relative;
    height: 100%;
    margin: 0px;
}

header {
    text-align: center;
}


/* --- Nav Bar --- */
.navbar {
    overflow: hidden;
    background-color: #323135;
}

.navbar a {
    color: #f0f0f0;
    text-decoration: none;
    text-align: center;
    float: left;
    font-size: 20px;
    padding: 13px 25px;
}

.navbar a:hover {
    background-color: #b1b1b1;
    color: black;
}

.navbar a.active{
    background-color: #178601;
}

a.highrec {
    font-size: 20px;
}

/* --- Main Text --- */

h1.maintext, h5.maintext {
    text-align: center;
    font-size: 55px;
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #c6f83b;
    text-shadow: 1px 1px 3px #301709;
}


/* --- Track Database Table --- */

table, th, td {
    border: 1px solid black;
}

table {
    background-color: #3e416d;
    color: white;
    overflow-y:scroll;
    table-layout: fixed;
    height:300px;
    display:block;
    border-collapse:collapse;
    width: 75%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  
.head-row th {
    background-color: #18204b;
    color: white;
    padding: 5px 0px;
    font-size: 25px;
    width: 500px;
    text-shadow: 3px 3px 3px #0b4d21;
    top: 0;
    position: sticky;
}



tr:hover {
    background-color: #e2f882;
    color: black;
    outline: none;
    cursor: pointer;
  }

  td {
    padding: 10px 10px;
}