<nav class="navbar navbar-expand-md navbar-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a href="{{ url_for('index')}}" class="nav-link {% if home==True %}active{% endif %}">Home</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('highly_recommended')}}" class="nav-link {% if rec_selected==True %}active{% endif %}">Recommendations</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('add')}}" class="nav-link">Add Songs</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('testing')}}" class="nav-link">Test</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
